<?xml version="1.0"?>
<robot name="marking_final">
  <link name="world"/>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <link name="marking_final_link">
    <inertial>
      <mass value="1.0"/> 
      <origin xyz="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    
    <visual>
      <geometry>
        <mesh filename="package://so101_description/meshes/bowl.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://so101_description/meshes/bowl.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_marking_final" type="fixed">
    <parent link="world"/>
    <child link="marking_final_link"/>
  </joint>

  <gazebo reference="marking_final_link">
    <material>Gazebo/Grey</material>
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <self_collide>true</self_collide>
  </gazebo>
  
</robot>